@font-face {
  font-family: "iconfont"; /* Project id 5071063 */
  src: url('iconfont.woff2?t=1763702909653') format('woff2'),
       url('iconfont.woff?t=1763702909653') format('woff'),
       url('iconfont.ttf?t=1763702909653') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuixiaohua:before {
  content: "\e624";
}

.icon-shanchu:before {
  content: "\e66c";
}

.icon-suoxiao:before {
  content: "\e6b5";
}

